@using VER_CONNECT.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <link href="~/FrontEnd/css/all.css" rel="stylesheet" type="text/css">
    <link href="~/FrontEnd/css.dev/css-fonts-download.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/FrontEnd/css.dev/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>

                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "user", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">

                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email Address...", @class = "form-control form-control-user" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">

                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control form-control-user" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                            </div>
                                        </div>

                                        <input type="submit" value="Log in" class="btn btn-primary btn-user btn-block" />

                                        <hr>
                                        <a href="#" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="#" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    }
                                    @section Scripts {
                                        @Scripts.Render("~/bundles/jqueryval")
                                    }

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("ForgotPassword", "Account")">Forgot your password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Register", "Account")">Register as a new user</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/FrontEnd/js.bootstrap.jquery/jquery.js"></script>
    <script src="~/FrontEnd/js.bootstrap.jquery/bootstrap.bundle.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/FrontEnd/js.bootstrap.jquery/jquery.easing.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/FrontEnd/js.bootstrap.jquery/sb-admin-2.js"></script>

</body>

</html>
